/* Подключение шрифтов */
@font-face {
	font-family: "PTSans";
	src: url("/fonts/ptsans.woff2") format("woff2"),
		url("/fonts/ptsans.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "PTSans";
	src: url("/fonts/ptsansbold.woff2") format("woff2"),
		url("/fonts/ptsansbold.woff") format("woff");
	font-weight: 700;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	background-color: #f2f2f2;
}

.wrap {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
/******************* HEADER *******************/

.top-menu {
	position: relative;
	padding-bottom: 508px;
	background-image: url("/img/background_photo.png");
	background-repeat: no-repeat;
	background-position: 50% 6%;
}

.welcome {
	position: absolute;
	top: 145px;
	left: 370px;	
}

.polugon {
	position: absolute;
	bottom: -5px;
}

.logo {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 44%;
}

.link-menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;	
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	z-index: 1;
	background-color:#ffffff;
}

.left-logo {
	margin-right: 240px;
}

.link-menu li {
	width: 20%;		
	text-align: center;
}

.link-menu a {
	display: inline-block;
	padding: 18px 0;
	color: #000000;
	text-decoration: none;	
}

.link-menu .item-foto:hover,.link-menu .item-map:hover,.link-menu .item-hotel:hover {
	color: #81b3d2;
}

.link-menu .item-foto:active,.link-menu .item-map:active,.link-menu .item-hotel:active {
	color: #000000;
	opacity: 0.3;
}

.link-menu .active-info {
	color: #766357;
}

/******************* MAIN *******************/

.title {
	padding-top: 61px;
	padding-bottom: 56px;
	text-align: center;
}

.title h1 {
	width: 37%;
	margin: 0 auto;	
	margin-bottom: 38px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.title p {
	color: #333333;
	line-height: 26px;
	text-transform: uppercase;
}