/* Подключение шрифтов */
@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsans.woff2") format("woff2"),
		url("../fonts/ptsans.woff") format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "PTSans";
	src: url("../fonts/ptsansbold.woff2") format("woff2"),
		url("../fonts/ptsansbold.woff") format("woff");
	font-weight: 700;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	color: #000000;
	background-color: #f2f2f2;
}

.wrap {
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #ffffff;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

img {	
	max-width: 100%;	
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}
/******************* HEADER *******************/

.top-menu {
	position: relative;
	padding-bottom: 508px;
	background-image: url("../img/background_photo.jpg");
	background-repeat: no-repeat;
	background-position: 50% 6%;
}

.blurry-menu {
	position: relative;
}

.background-foto {
	background-image: url("../img/filter_background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.welcome {
	position: absolute;
	top: 145px;
	left: 370px;	
}

.polugon {
	position: absolute;
	bottom: -5px;
}

.logo {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 42%
}

.logo-hotels {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 42%
}

.link-menu {
	display: flex;
	justify-content: flex-start;
	align-items: center;	
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	z-index: 1;
	background-color:#ffffff;
}

.left-logo {
	margin-right: 240px;
}

.link-menu li {
	width: 20%;		
	text-align: center;
}

.link-menu a {
	display: inline-block;
	padding: 18px 0;
	color: #000000;
	text-decoration: none;	
}

.link-menu .item-foto:hover,.link-menu .item-map:hover,.link-menu .item-hotel:hover, .link-menu .item-info:hover {
	color: #81b3d2;
}

.link-menu .item-foto:active,.link-menu .item-map:active,.link-menu .item-hotel:active,
.link-menu .item-info:active {
	color: #000000;
	opacity: 0.3;
}

.link-menu .active-info {
	color: #766357;
}

.link-menu .active-hotel {
	color: #766357;
}

.filter-hotels {
	padding: 31px 72px;
}

.filter-hotels form {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.infrastructure {
	width: 12%;
	margin: 0;
	margin-right: 115px;
	padding: 0;	
	border: none;
}

.infrastructure legend {
	margin-bottom: 31px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.item-infra {
	display: block;
	margin-bottom: 36px;
	color: #ffffff;
	line-height: 21px;
	text-transform: uppercase;
	cursor: pointer;
}

.item-infra::before {
	display: inline-block;
	content: "";
	width: 27px;
	height: 23px;
	margin-right: 15px;
	vertical-align: middle;
	background-image: url("../img/checkbox-off.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;	
}

#pool:checked ~ .box-infra .pool::before,
#parking:checked ~ .box-infra .parking::before,
#wifi:checked ~ .box-infra .wifi::before {
	display: inline-block;
	content: "";
	width: 27px;
	height: 23px;
	margin-right: 15px;
	vertical-align: middle;
	background-image: url("../img/checkbox-on.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#pool:disabled ~ .box-infra .pool::before,
#parking:disabled ~ .box-infra .parking::before,
#wifi:disabled ~ .box-infra .wifi::before {
	background-image: url("../img/checkbox-off-dis.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#pool:disabled ~ .box-infra .pool,
#parking:disabled ~ .box-infra .parking,
#wifi:disabled ~ .box-infra .wifi {
 color: #6a6a6a;
}

#pool:checked:disabled ~ .box-infra .pool::before,
#parking:checked:disabled ~ .box-infra .parking::before,
#wifi:checked:disabled ~ .box-infra .wifi::before {
	background-image: url("../img/checkbox-on-dis.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.item-infra:last-child {
	margin-bottom: 0;
}

.type {
	width: 13%;
	margin: 0;
	margin-right: 335px;
	padding: 0;
	border: none;
}

.type legend {
	margin-bottom: 31px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.item-type {
	display: block;
	margin-bottom: 36px;
	color: #ffffff;
	line-height: 21px;
	text-transform: uppercase;
	cursor: pointer;
}

.item-type::before {
	display: inline-block;
	content: "";
	width: 27px;
	height: 23px;
	margin-right: 15px;
	vertical-align: middle;
	background-image: url("../img/checkbox-off.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;	
}

#hotel:checked ~ .box-type .hotel::before,
#motel:checked ~ .box-type .motel::before,
#apartments:checked ~ .box-type .apartments::before {
	display: inline-block;
	content: "";
	width: 27px;
	height: 23px;
	margin-right: 15px;
	vertical-align: middle;
	background-image: url("../img/checkbox-on.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#hotel:disabled ~ .box-type .hotel::before,
#motel:disabled ~ .box-type .motel::before,
#apartments:disabled ~ .box-type .apartments::before {
	background-image: url("../img/checkbox-off-dis.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#hotel:disabled ~ .box-type .hotel,
#motel:disabled ~ .box-type .motel,
#apartments:disabled ~ .box-type .apartments {
 color: #6a6a6a;
}

#hotel:checked:disabled ~ .box-type .hotel::before,
#motel:checked:disabled ~ .box-type .motel::before,
#apartments:checked:disabled ~ .box-type .apartments::before {
	background-image: url("../img/checkbox-on-dis.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.item-type:last-child {
	margin-bottom: 0;
}

/******************* MAIN *******************/

.title {
	padding-top: 61px;
	padding-bottom: 56px;
	text-align: center;
}

.title h1 {
	width: 37%;
	margin: 0 auto;	
	margin-bottom: 38px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.title p {
	color: #333333;
	line-height: 26px;
	text-transform: uppercase;
}

.container-city {	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.true-city {
	width: 33%;
	padding: 46px 60px 60px;
	text-align: center;
	text-transform: uppercase;
	background-color: #81b3d2;
	box-sizing: border-box;
	color: #ffffff;
}

.true-city h2 {
	margin: 0;
	font-size: 21px;
	font-weight: 700;
}

.one {
	position: relative;
	display: block;
	margin: 25px 0 30px;
	color: #d4e5f0;	
}

.one::before {
	position: absolute;
	content: "";
	display: inline-block;
	top: 7px;
	left: 113px;
	width: 10px;
	height: 2px;
	background-color:#d4e5f0;
	vertical-align: middle;
}

.one::after {
	position: absolute;
	content: "";
	display: inline-block;
	top: 7px;
	right: 113px;
	width: 10px;
	height: 2px;
	background-color:#d4e5f0;
	vertical-align: middle;
}

	.true-city p {
	margin: 0;
	color: #d4e5f0;
}

.image-city {
	width: 66%;
	padding-bottom: 257px;	
	flex-grow: 1;
	background-image: url("../img/Layer_10.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}
/******************* LEISURE *******************/

.box-leisure {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style: none;
}

.box-housing {
	width: 33%;
	margin-right: 6px;
	padding: 62px 70px;
	box-sizing: border-box;
	text-align: center;
}

.box-housing h2 {
	margin: 30px 0;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.box-housing p {
	margin: 0;
	color: #333333;
	line-height: 21px;
	text-transform: uppercase;
}

.box-eat {
	width: 33%;
	margin-right: 6px;
	padding: 63px 55px;
	box-sizing: border-box;
	text-align: center;
}

.box-eat h2 {
	margin: 30px 0;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.box-eat p {
	margin: 0;
	color: #333333;
	line-height: 21px;
	text-transform: uppercase;
}

.box-souvenirs {
	width: 33%;
	padding: 60px 55px;
	box-sizing: border-box;
	text-align: center;
}

.box-souvenirs h2 {
	margin: 30px 0;
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
}

.box-souvenirs p {
	margin: 0;
	color: #333333;
	line-height: 21px;
	text-transform: uppercase;
}
/******************* DEVIL BRIDGE *******************/
.container-bridge {	
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}
.devil-bridge {
	width: 33%;
	padding: 46px 45px 60px;
	text-align: center;
	text-transform: uppercase;
	background-color: #81b3d2;
	box-sizing: border-box;
	color: #ffffff;
}

.devil-bridge h2 {
	margin: 0;
	font-size: 21px;
	font-weight: 700;
}

.two {
	position: relative;
	display: block;
	margin: 25px 0 30px;
	color: #d4e5f0;	
}

.two::before {
	position: absolute;
	content: "";
	display: inline-block;
	top: 7px;
	left: 125px;
	width: 10px;
	height: 2px;
	background-color:#d4e5f0;
	vertical-align: middle;
}

.two::after {
	position: absolute;
	content: "";
	display: inline-block;
	top: 7px;
	right: 125px;
	width: 10px;
	height: 2px;
	background-color:#d4e5f0;
	vertical-align: middle;
}

.devil-bridge p {
	margin: 0;
	color: #d4e5f0;
}

.image-bridge {
	width: 66%;
	padding-bottom: 257px;	
	flex-grow: 1;
	background-image: url("../img/Layer_5.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;	
}

/******************* DIGNITY *******************/
.container-dignity {	
	display: flex;	
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #eeeeee;
	list-style: none;
}
.dignity-sedona {
	width: 33%;
	margin-right: 6px;
	padding: 46px 70px 60px;
	text-align: center;
	text-transform: uppercase;	
	box-sizing: border-box;
	color: #000000;
}

.dignity-sedona h2 {
	margin: 0;
	font-size: 21px;
	font-weight: 700;
}

.dignity-sedona p {
	margin: 0;
	color: #333333;
}

.number {
	position: relative;
	display: block;
	margin: 25px 0 30px;
	color: #333333;	
}

.number::before {
	position: absolute;
	content: "";
	display: inline-block;
	top: 7px;
	left: 100px;
	width: 10px;
	height: 2px;
	background-color:#333333;
	vertical-align: middle;
}

.number::after {
	position: absolute;
	content: "";
	display: inline-block;
	top: 7px;
	right: 100px;
	width: 10px;
	height: 2px;
	background-color:#333333;
	vertical-align: middle;
}

/******************* SEARCH *******************/
.container-search {
	padding-top: 57px;
}

.interested {
	width: 38%;
	margin: 0 auto;
	margin-bottom: 50px;
	text-align: center;
}

.interested strong {
	text-transform: uppercase;
	color: #000000;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
}

.interested p {
margin-top: 35px;
margin-bottom: 0;
color: #333333;
text-transform: uppercase;
line-height: 24px;
}

.btn-search {
	display: block;
	width: 49%;
	margin: 0 auto;
	padding: 35px 0;
	color: #ffffff;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	background-color: #766357;
	cursor: pointer;
}

.btn-search:hover {
	background-color: #604e43;
}

.btn-search:active {	
	background-color: #503e33;
}

.btn-search:active span {
	opacity: 0.3;
}


/******************* FOOTER *******************/

.footer-top {
	position: relative;
}

.form {
	position: absolute;
	top: 0;
	left: 307px;
	width: 49%;
	padding: 55px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.date {
	position: relative;
	display: block;
	margin-bottom: 30px;
}

.date span {
	display: inline-block;	
	font-weight: 700;
	text-transform: uppercase;
}

.checkin {
	margin-right: 20px;
}

.checkout {
	margin-right: 17px;
}

.date input {
	width: 368px;
	padding: 14px 0 14px 13px;		
	font-weight: 700;	
	text-transform: uppercase;
	background-color: #f2f2f2;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
}

.date input:hover {
	background-color: #ebebeb;
}

.date input:focus {	
	outline: 2px solid #e5e5e5;
	background-color: #ffffff;	
	
}

.date input::placeholder {
	color: #000000;
}

.btn-calendar {	
	position: absolute;
	top: 8px;
	right: 10px;
	padding: 0;	
	opacity: 0.2;
	border: none;
	cursor: pointer;
	outline: none;
	background-color: #f2f2f2;	
}

.btn-calendar:hover {
	opacity: 1;
	background-color: #f2f2f2;
}

.btn-calendar:active {
	opacity: 0.4;
	background-color: #f2f2f2;
}

.box-adults {	
	margin-bottom: 55px;
}
.adults {	
	margin-right: 40px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.btn-min {	
	position: relative;
	width: 38px;
	height: 38px;
	cursor: pointer;
	vertical-align: bottom;
	background-color: #f2f2f2;
	border: none;
	outline: none;
}

.btn-min::before {
	position: absolute;
	display: inline-block;
	content: "";
	width: 12px;
	height: 3px;
	top: 17px;
	left: 12px;
	background-color: #a9a9a9;	
}

.btn-max {	
	position: relative;
	width: 38px;
	height: 38px;
	cursor: pointer;
	vertical-align: bottom;
	background-color: #f2f2f2;
	border: none;
	outline: none;
}

.btn-max::before {
	position: absolute;
	display: inline-block;
	content: "";
	width: 12px;
	height: 3px;
	top: 17px;
	left: 12px;
	background-color: #a9a9a9;	
}

.btn-max::after {
	position: absolute;
	display: inline-block;
	content: "";
	width: 12px;
	height: 3px;
	top: 17px;
	left: 12px;
	background-color: #a9a9a9;	
	transform: rotate(90deg);
}

.btn-min:hover::before,
.btn-max:hover::before,
.btn-max:hover::after {
	background-color:#000000;
}

.btn-min:active::before,
.btn-max:active::before,
.btn-max:active::after {
	background-color:#81b3d2;
}

.box-adults input{
	width: 38px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 11px 0;	
	font-weight: 700;	
	text-align: center;
	text-transform: uppercase;
	border: none;
	outline: none;
	background-color: #f2f2f2;
	box-sizing: border-box;
	cursor: pointer;
}

.box-adults input::placeholder {
	color: #000000;
}

.children {
	margin-right: 27px;
	margin-left: 60px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.btn-form {
	width: 478px;
	padding: 18px 0;	
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	border: none;
	outline: none;
	color: #ffffff;
	background-color: #81b3d2;
	cursor: pointer;
}

.btn-form:hover {
	background-color: #669ec0;
}

.btn-form:active span {
	opacity: 0.3;
}

.btn-form:active {
	background-color: #5496bd;
}

/******************* FOOTER-BOTTOM *******************/

.footer-bottom {
	padding: 36px 0;
}

.box-brand {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.brand-visit {
	display: flex;
	justify-content: center;
	align-items: center;	
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	margin-left: 256px;
	margin-right: 228px;
	padding: 0;
	list-style: none;
}

.social-icon {
	width: 46px;
	text-align: center;
	background-color: #81b3d2;
}

.social-icon:hover {
	background-color: #669ec0;
}

.social-icon:active {
	background-color: #5496bd;
}

.social a {
	display: inline-block;
	text-decoration: none;
}

.social a:active {
	opacity: 0.3;
}

.tw {
	margin-right: 6px;
	padding: 11px 0;	
}

.fb {
	margin-right: 6px;
	padding: 10px 0;
}

.you {	
	padding: 11px 0;
}

.brand-html span{
	display: inline-block;
	margin-right: 8px;
	color: #000000;	
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;	
	text-transform: uppercase;
}

.brand-html a {
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
}

.brand-html a:hover {
	opacity: 0.6;
}

.brand-html a:active {
	opacity: 0.3;
}
	
/******************* FILTE-RANGE *******************/
.filter-range {
  width: 330px;  

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/******************* MAIN *******************/

.menu-middle {
	padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}

.menu-filter {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000000;
}

.menu-found {
	margin-right: 49px;;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
}

.menu-sorting {
	margin-right: 40px;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
}

.menu-price, .menu-type {
	margin-right: 33px;
}

.menu-rating {
	margin-right: 500px;
}

.menu-type a:hover,.menu-rating a:hover {
	color: #81b3d2;
}

.menu-type a:active,.menu-rating a:active {
	color: #000000;
	border-bottom:  none;
}

.menu-type a, .menu-rating a {
	display: inline-block;	
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	color: #d0d0d0;	
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.menu-price a {
	display: inline-block;	
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #81b3d2;
	border: none;
}


.tri a  {
	display: inline-block;
	text-decoration: none;
}

.tri-up {
	width: 0;
	height: 0;
	margin-right: 10px;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-bottom: 10px solid #cacaca;
}

.tri-up:hover {
	border-bottom: 10px solid#000000;
}

.tri-up:active {
	border-bottom: 10px solid#81b3d2;
}

.tri-down {
	width: 0;
	height: 0;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	border-top: 10px solid #81b3d2;
}

.hotels {
	padding: 30px 72px;
	border-bottom: 1px solid  #e5e5e5;
}

.box-hotels {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.img-hotels {
	margin-right: 30px;
}

.description-hotels {	
	width: 25%;
	margin: 0;
	margin-right: 500px;
	padding: 0;
	list-style: none;
}

.title-hotels {
	margin: 0;
	font-size: 21px;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
}

.items-type span{
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 12px;
	text-transform: uppercase;
	color: #333333;	
}

.items-type {
	margin: 18px 0;
}

.type-hotel {
	margin-right: 45px;
}

.items-type .motel {
	margin-right: 68px;
}

.items-type .villas {
	margin-right: 30px;
}

.items-btn a {
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 12px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-details {
	margin-right: 6px;
	padding: 7px 17px;
	background-color:#81b3d2;
}

.btn-details:hover {
	background-color: #669ec0;
}

.btn-details:active {	
	color: #7aadcc;
	background-color: #669ec0;
}

.btn-book {
	padding: 8px 16px;
	font-weight: 700;
	line-height: 11px;
	text-transform: uppercase;
	background-color: #766357;
}

.btn-book:hover {
	background-color: #604e43;
}
.btn-book:active {
	color:#847870;
	background-color: #503e33;
}
.box-rating {
	width: 11%;
}

.stars-four {
	display: block;	
	width: 72px;
	margin-left: 44px;
	padding-bottom: 18px;
	margin-bottom: 47px;
	background-image: url("../img/stars.png");	
	
}

.stars-three {
	display: block;	
	width: 54px;
	margin-left: 63px;
	padding-bottom: 18px;
	margin-bottom: 47px;
	background-image: url("/img/stars.png");	
	
}

.stars-two {
	display: block;	
	width: 35px;
	margin-left: 81px;
	padding-bottom: 18px;
	margin-bottom: 47px;
	background-image: url("../img/stars.png");	
	
}

.rating {
	display: block;
	padding: 5px 15px;
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-transform: uppercase;
	background-color: #f2f2f2;
}
